<a href="https://colab.research.google.com/github/yungxuan819/Prediction_of_House_Prices---PDS/blob/main/PDS_Assignment(Cali_House_csv)_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #light package to do multiple array for 2 dimension
import numpy as np #package for data frame
import matplotlib.pyplot as plt #do some visualisation
import seaborn as sns #to create some sort of histogram or heap map

In [ ]:
new_data = pd.read_csv('New_Cali_Houses.csv') #Load New Dataset
new_data.head() # Display first 5 rows of the dataset

,House,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Distance_to_coast
0,House 1,8.3252,41,880,129,322,126,9263.040773
1,House 2,8.3014,21,7099,1106,2401,1138,10225.733070
2,House 3,7.2574,52,1467,190,496,177,8259.085109
3,House 4,5.6431,52,1274,235,558,219,7768.086571
4,House 5,3.8462,52,1627,280,565,259,7768.086571

In [ ]:
#Set House as Index
new_data_process = new_data.set_index('House')

In [ ]:
#Create dummy variables for categorical variable
new_data_dummy = pd.get_dummies(new_data_process)
new_data_dummy = pd.get_dummies(new_data_process,drop_first=True)
new_data_dummy.head() # Display first 5 rows of the set

,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Distance_to_coast
House,,,,,,,
House 1,8.3252,41,880,129,322,126,9263.040773
House 2,8.3014,21,7099,1106,2401,1138,10225.733070
House 3,7.2574,52,1467,190,496,177,8259.085109
House 4,5.6431,52,1274,235,558,219,7768.086571
House 5,3.8462,52,1627,280,565,259,7768.086571

In [ ]:
#Call input variable --must same the column name as save model
new = new_data_dummy[['Median_Income','Tot_Rooms','Tot_Bedrooms','Households','Distance_to_coast']] #create data frame
#input_new = new_data_dummy[['Median_Income','Tot_Rooms','Tot_Bedrooms','Households','Distance_to_coast']]
new.head() # Display first 5 rows of the new data set

         Median_Income  Tot_Rooms  Tot_Bedrooms  Households  Distance_to_coast
House
House 1         8.3252        880           129         126        9263.040773
House 2         8.3014       7099          1106        1138       10225.733070
House 3         7.2574       1467           190         177        8259.085109
House 4         5.6431       1274           235         219        7768.086571
House 5         3.8462       1627           280         259        7768.086571

In [ ]:
#Feature Scalling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(new)
input_new = scaler.transform(new)#set the variable after feature scalling

In [ ]:
input_new # Display the new variable

array([[ 2.34476576, -0.8048191 , -0.97070612, -0.97703285, -0.63587619],
       [ 2.33223796,  2.0458901 ,  1.34864943,  1.66996103, -0.61628493],
       [ 1.7826994 , -0.53574589, -0.82589477, -0.84363692, -0.65630719],
       ...,
       [-1.14259331, -0.17499526, -0.12557759, -0.17404163,  2.3045936 ],
       [-1.05458292, -0.35559977, -0.30599828, -0.39375258,  2.26899409],
       [-0.78012947,  0.06840827,  0.18541072,  0.07967221,  2.16441644]])

In [ ]:
#Load Saved Model
import pickle

filename = 'reg_model_save.sav'

loaded_model = pickle.load(open(filename,'rb')) #rb - read binary same as open model/file

In [ ]:
#Predict
import statsmodels.api as sm
input_new = sm.add_constant(input_new)
predict_output = loaded_model.predict(input_new)#use the feature scalling variable to predict using save model
predict_output = pd.DataFrame({'Predicted Price':predict_output}) #Create Data Frame

In [ ]:
predict_output.head() # Display the first 5 rows of the predicted price

   Predicted Price
0    347871.029674
1    354865.892176
2    313794.122002
3    265936.244697
4    209212.059972

In [ ]:
#Create dataframe

new_predict = pd.concat([new_data,predict_output], axis = 1)

In [ ]:
new_predict.head() #display the first 5 rows of data

,House,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Distance_to_coast,Predicted Price
0,House 1,8.3252,41,880,129,322,126,9263.040773,347871.029674
1,House 2,8.3014,21,7099,1106,2401,1138,10225.733070,354865.892176
2,House 3,7.2574,52,1467,190,496,177,8259.085109,313794.122002
3,House 4,5.6431,52,1274,235,558,219,7768.086571,265936.244697
4,House 5,3.8462,52,1627,280,565,259,7768.086571,209212.059972

In [ ]:
new_predict.to_csv('new_predict_pr.csv',index=False) # Saving the DataFrame 'new_predict' into a CSV called 'new_price_pr.csv'